<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="ProcessViewer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <ProcessViewer.Properties.Settings>
            <setting name="AutoHighlight" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowVerbs" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="HighlightingSteps" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="TopMost" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ResetBreakpointsOnChange" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowDescriptions" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="HandleMessageResults" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowChangedParameterValues" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="EnableFindWindowActivation" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="HideIntersection" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="VerbsHeight" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="IgnoreUnVisibleWindows" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AutoRefreshIfWindowNotFound" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ProgramLanguage" serializeAs="String">
                <value>(Default)</value>
            </setting>
            <setting name="ShowWindowTooltipDuringDrag" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AllowDragTooltipSelectable" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TooltipOpacity" serializeAs="String">
                <value>80</value>
            </setting>
            <setting name="DisableTooltipOpacityOnMouseOver" serializeAs="String">
                <value>True</value>
            </setting>
        </ProcessViewer.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
